<html>
<head>
    <title>{{this.pageTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link  rel="stylesheet" type="text/css" href="{{App.request.baseUrl}}/css/main.css" >
    <link  rel="stylesheet" type="text/css" href="{{App.request.baseUrl}}/css/form.css" >
    <link rel="stylesheet" type="text/css" href="{{App.request.baseUrl}}/css/rbac.css" />

    <link rel="stylesheet" href="{{App.request.baseUrl}}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{App.request.baseUrl}}/css/media/mediaelementplayer.min.css" type="text/css">
    <script type="text/javascript" src="{{App.request.baseUrl}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{App.request.baseUrl}}/js/media/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="{{App.request.baseUrl}}/js/music.js"></script>

</head>
<body>
<div class="main_wrap">
    <div class="header">
        <div class="main_logo">
            <a href="/"><span>VG</span>-MUSIC</a>
        </div>
        <div id="main_menu">
            {%set home=Yii.t('main','Home')%}
            {%set about=Yii.t('main','About')%}
            {%set contact=Yii.t('main','Contact')%}
            {%set login=Yii.t('main','Login')%}
            {%set logout=Yii.t('main','Logout ({username})',{'{username}':App.user.name})%}
            {{ this.widget('zii.widgets.CMenu',{
                'items':[
                    {'label':home, 'url':['/site/index']},
                    {'label':about, 'url':{0:'/site/page', 'view':'about'} },
                    {'label':contact, 'url':['/site/contact']},
                    {'label':login, 'url':['/site/login'], 'visible':App.user.isGuest},
                    {'label':logout, 'url':['/site/logout'], 'visible':not App.user.isGuest}
                ]
            }, true) | raw }}
            {#{'label':'Logout ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}#}
        </div>
        <div  id="language-selector" style="float:right; margin:5px;">
{#
		{{ C.Html.link('<span class="ru">рус</span>', {'':'site/', 'language': 'ru'}, {'class': ''}) | raw }}
		{{ C.Html.link('<span class="ua">укр</span>', {'':'site/', 'language': 'ua'}, {'class': ''}) | raw }}
		
		CHtml::link('<span class="ru">по-русски</span>',array(Yii::app()->defaultController.'/',Yii::app()->urlManager->langParam=>'ru'),array(
			'class'=>((Yii::app()->language=='ru') ? 'action':''),
		));?>
		<?php echo CHtml::link('<span class="ua">украiнською</span>',array(Yii::app()->defaultController.'/',Yii::app()->urlManager->langParam=>'uk'),array(
			'class'=>((Yii::app()->language=='uk') ? 'action':''),
		));?>
#}				
           {{
                void(this.widget('application.components.widgets.LanguageSelector'))
            }}

        </div>
    </div>
    <div class="main">
        <div class="main_content">

            {{content | raw}}
        </div>
    </div>
    <div class="footer">
        {{lang.copyright}}
    </div>
</div>
</body>
</html>